<h1 class="text-danger">All Employees</h1>

<h4>Polymorphic Association</h4>

<table cellpadding="0" cellspacing="0" border="1px" bgcolor="#eee" >
	<thead>
		<tr>
			<th>SN</th>
			<th>Name</th>

		</tr>
	</thead>
	<tbody>
		<% @employees.each do |employee| %>
			<tr>
				<td><strong><%= employee.id %></strong></td>
				<td><strong>Name: </strong> <%= employee.name %></td>
				<td><%= link_to 'Show', employee_path(employee) %></td>
			</tr>
		<%end%>
	</tbody>
</table>



<p><%= link_to 'New Employee', new_employee_path %></p>
<p><%= link_to 'All Product', products_path %></p>
