<h1>Show Person</h1>
<p>
	<strong>Name: </strong> <%= @person.name %>
</p>
<p>
	<strong>Email: </strong> <%= @person.email %>
</p>

<p>
	<strong>Confirmaton: </strong> <%= @person.confirmation %>
</p>


<p>
	<strong>Start Date: </strong> <%= @person.start_date %>
</p>


<p>
	<strong>End Date: </strong> <%= @person.end_date %>
</p>

<p>
	<strong>Subdomain: </strong> <%= @person.subdomain %>
</p>

<p>
	<strong>Message: </strong> <%= @person.message %>
</p>

<p>
	<strong>Password: </strong> <%= @person.password %>
</p>

<p>
	<strong>Registration Number: </strong> <%= @person.registration_number %>
</p>

<p>
	<strong>Bio: </strong> <%= @person.bio %>
</p>


<div><%= link_to 'Back', people_path, style: 'background-color: teal; padding: 6px 8px;border-radius: 6px; border: 1px solid #f00; color: #fff;text-transform:uppercase;text-decoration:none' %></div>