<span><%= link_to 'Blog', articles_path %></span>
<span><%= link_to 'Validation', demos_path %></span>
<span><%= link_to 'Supplier', suppliers_path %></span>
<span><%= link_to 'Assemblies', assemblies_path %></span>
<span><%= link_to 'Employees', employees_path %></span>

